doctype html  
html(lang='en')  
  head
    style
     include postProfile.css 
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
    title Posts
  body
   div.header
    h1.user-name= user
    a(href='/auth/logout') Log out
   each el in posts 
    div.post-container 
     div.post-title
       a.post-link(href=`/posts/${el._id}`): h2= el.title
     div.post-text
      if el.user_image
       img.post-image(src=`https://s3.eu-west-2.amazonaws.com/emo-blog-platform/${el.user_image}`)
       p= el.content
      else  
        p= el.content
      div.button-panel
       a(href=`/posts/edit/post/${el._id}`): i(class='fas fa-edit')
       form(action=`/posts/${el._id}?_method=DELETE` method='post'): button.delete-button 
        i(class='fas fa-trash')
   div.new-post
    a(href='/post/create'):  i(class='fas fa-plus-square fa-2x')

